@import 'custom';

@import 'components/mixins';
@import 'components/animations';
@import 'components/typography';


@import 'sections/navbar';
@import 'sections/intro';
@import 'sections/skills';
@import 'sections/portfolio';
@import 'sections/footer';



